<div class="container">
  <section class="py-5 text-center container">
    <div class="row">
      <div class="col">
        <h1 class="display-1"><%= link_to "Shrturl", root_path, class: "text-reset text-decoration-none" %></h1>
        <p class="lead text-muted">Short URLs Report</p>
      </div>
    </div>
  </section>
  <section class="pb-1 text-center container">
    <div class="row px-5">
      <div class="col">
        <table class="table table-striped">
          <thead id="short-urls-thead">
            <tr>
              <th scope="col" class="text-start">Short URL</th>
              <th scope="col" class="text-start">Target URL</th>
              <th scope="col">Clicks Count</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="short-urls-tbody">
          <%= render partial: "index_table", locals: {short_urls: @short_urls} %>
          </tbody>
        </table>
        <div id="short-urls-pagy-container">
          <%= render partial: "pagy_nav_js" %>
        </div>
      </div>
    </div>
  </section>
</div>
